
      <div id="content" style="text-align: center; padding-bottom: 5%;"  class="background-image-page">
      
        <div class="container-fluid" style="text-align: center;">
            <div class="card bg-light mb-3" id="cr1" style="width: 25%;  display: inline-table; margin-left: 2%; margin-top: 5%; cursor: pointer;">
            
              <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/creative-process-7/200/vector_364_12-512.png" (click)="onClick(0.1)" alt="Card image"
                style="width: 100%">
              <div class="card-footer">
              
                <p class="card-title mbr-fonts-style align-center display-5">Test {{setId+0.1}}</p>
              </div>
            </div>
            
            <div class="card bg-light mb-3" id="cr1" style="width: 25%;  display: inline-table; margin-left: 2%; margin-top: 5%; cursor: pointer;">
            
              <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/business-management-set-3/256/85-512.png" (click)="onClick(0.2)" alt="Card image"
                style="width: 100%">
              <div class="card-footer">
              
                <p class="card-title mbr-fonts-style align-center display-5">Test{{setId+0.2}}</p>
              </div>
            </div>
            <div class="card bg-light mb-3" id="cr1" style="width: 25%;  display: inline-table; margin-left: 2%; margin-top: 5%; cursor: pointer;">
            
              <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/business-312/100/business-dashed1-04-512.png" (click)="onClick(0.3)" alt="Card image"
                style="width: 100%">
              <div class="card-footer">
              
                <p class="card-title mbr-fonts-style align-center display-5">Test {{setId+0.3}}</p>
              </div>
            </div>
            
            <div class="card bg-light mb-3" id="cr1" style="width: 25%;  display: inline-table; margin-left: 2%; margin-top: 5%; cursor: pointer;">
              
              <img class="card-img-top" src="https://cdn0.iconfinder.com/data/icons/thin-science-space/24/thin-1037_brain_thinking_mind_knowledge-512.png" (click)="onClick(0.4)" alt="Card image"
                style="width: 100%">
              <div class="card-footer">
              
                <p class="card-title mbr-fonts-style align-center display-5">Test {{setId+0.4}}</p>
              </div>
            </div>
            <div class="card bg-light mb-3" id="cr1" style="width: 25%;  display: inline-table; margin-left: 2%; margin-top: 5%; cursor: pointer;">
            
              <img class="card-img-top" src="https://cdn0.iconfinder.com/data/icons/soft-skills-linear-black-1/2048/7589_-_Morality-512.png" (click)="onClick(0.5)" alt="Card image"
                style="width: 100%">
              <div class="card-footer">
              
                <p class="card-title mbr-fonts-style align-center display-5">Test {{setId+0.5}}</p>
              </div>
            </div>
  
            
  
          </div>
  
  
        </div>
